# =============================================================================
# https://EditorConfig.org
# -----------------------------------------------------------------------------
#   emacs    -> https://github.com/editorconfig/editorconfig-emacs#readme
#   intellij -> should just work
#   vim      -> https://github.com/editorconfig/editorconfig-vim#readme
# =============================================================================

root = true

# -----------------------------------------------------------------------------
# defaults
# -----------------------------------------------------------------------------
[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8

# -----------------------------------------------------------------------------
# shell scripts
# -----------------------------------------------------------------------------
[*.sh]
indent_size = 2
