i*~
.#*
*#
*.sw*
_site/
.factorypath
.gradletasknamecache
.DS_Store
/application.yml
/application.properties
cloudfoundry/about.txt
asciidoctor.css
atlassian-ide-plugin.xml
bin/
build/
dump.rdb
out
spring-shell.log
target/
test-output
dataflowlib/
app-logs/
*.pid
*.jar
*.log
*.out
**/scdf-manifest.yml
**/skipper-manifest.yml
**/scdf.yml
**/skipper.yml

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.settings/
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/*
rebel.xml
