i*~
.#*
*#
*.sw*
_site/
.factorypath
.gradletasknamecache
.DS_Store
/application.yml
/application.properties
cloudfoundry/about.txt
asciidoctor.css
atlassian-ide-plugin.xml
bin/
build/
dump.rdb
out
spring-shell.log
target/
test-output
dataflowlib/
app-logs/
*.pid
*.jar
*.log
*.out
.gradle
**/scdf-manifest.yml
**/skipper-manifest.yml
**/scdf.yml
**/skipper.yml
kubernetes/skipper-server/spring-cloud-dataflow/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
.settings/
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea/*
rebel.xml
!acceptance-tests/gradle/wrapper/gradle-wrapper.jar
.DS_Store/

# IDE - VSCode main
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - VSCode db tests
acceptance-tests/.vscode/*
!acceptance-tests/.vscode/settings.json
!acceptance-tests/.vscode/tasks.json
!acceptance-tests/.vscode/launch.json
!acceptance-tests/.vscode/extensions.json
.vscode
*.zip
workspace/
workspaces/
downloads/
