name: SCDF AT Rabbit Oracle - env 0

on:
  workflow_dispatch:

jobs:
  rabbit-0-oracle:
    uses: ./.github/workflows/at-common-workflow.yml
    with:
      cf_host: bucharest
      cf_index: 0
      binder: rabbit
      sql_provider: oracle
      sql_service_name: 'xe'
      tests: ${{ inputs.tests }}
    secrets:
      CF_USERNAME: ${{secrets.CF_USERNAME}}
      CF_ENV_0_PASSWORD: ${{secrets.CF_ENV_0_PASSWORD}}
      CF_ENV_1_PASSWORD: ${{secrets.CF_ENV_1_PASSWORD}}
      CF_ENV_2_PASSWORD: ${{secrets.CF_ENV_2_PASSWORD}}
      SQL_USERNAME: ${{secrets.ORACLE_USERNAME}}
      SQL_PASSWORD: ${{secrets.ORACLE_PASSWORD}}
      SQL_SYSTEM_USERNAME: 'SYSTEM'
      SQL_SYSTEM_PASSWORD: ${{secrets.ORACLE_PASSWORD}}
      SQL_HOST: ${{secrets.ORACLE_HOST}}
      SQL_PORT: ${{secrets.ORACLE_PORT}}
