name: at-common-workflow

on:
  workflow_call:
    secrets:
      CF_USERNAME:
        required: true
      CF_PASSWORD:
        required: true
      SQL_USERNAME:
        required: false
      SQL_PASSWORD:
        required: false
      SQL_SYSTEM_USERNAME:
        required: false
      SQL_SYSTEM_PASSWORD:
        required: false
      SQL_HOST:
        required: false
      SQL_PORT:
        required: false
      KAFKA_USERNAME:
        required: false
      KAFKA_PASSWORD:
        required: false
      KAFKA_BROKER_ADDRESS:
        required: false
    inputs:
      binder:
        required: true
        type: string
      cf-host:
        required: true
        type: string
      cf-api-url:
        required: true
        type: string
      cf-apps-domain:
        required: true
        type: string
      sql_provider:
        required: false
        type: string
      sql_service_name:
        required: false
        type: string
      sql_system_user:
        required: false
        type: string
      sql_system_password:
        required: false
        type: string
      scheduler:
        required: false
        type: boolean
        default: true
      environment:
        required: false
        type: string
        default: scdf_at
      tests:
        required: false
        type: string
        default: ''

jobs:
  acceptance-tests:
    environment: scdf_at
    env:
      # DEBUG: true
      SCHEDULES_ENABLED: ${{ inputs.scheduler }}
      BINDER: ${{ inputs.binder }}
      MAVEN_REPOS: '{"repo1":"https://repo.spring.io/snapshot"}'
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_SPACE: ${{ inputs.binder }}
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_SKIP_SSL_VALIDATION: true
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_TASK_SERVICES: p-scheduler
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_URL: "https://${{ inputs.cf-api-url }}"
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_DOMAIN: "${{ inputs.cf-apps-domain }}"
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_ORG: p-dataflow
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_USERNAME: ${{ secrets.CF_USERNAME }}
      SPRING_CLOUD_DEPLOYER_CLOUDFOUNDRY_PASSWORD: ${{ secrets.CF_PASSWORD }}
      SQL_HOST: ${{ secrets.SQL_HOST }}
      SQL_PORT: ${{ secrets.SQL_PORT }}
      SQL_PASSWORD: ${{ secrets.SQL_PASSWORD }}
      SQL_USERNAME: ${{ secrets.SQL_USERNAME }}
      SQL_PROVIDER: ${{ inputs.sql_provider }}
      SQL_SERVICE_NAME: ${{ inputs.sql_service_name }}
      SQL_SYSTEM_PASSWORD: ${{ secrets.SQL_SYSTEM_PASSWORD }}
      SQL_SYSTEM_USERNAME: ${{ secrets.SQL_SYSTEM_USERNAME }}
      SQL_DATAFLOW_DB_NAME: "dataflow_pro_${{ inputs.cf-host }}_${{ inputs.binder }}"
      KAFKA_BROKER_ADDRESS: ${{ secrets.KAFKA_BROKER_ADDRESS }}
      KAFKA_USERNAME: ${{ secrets.KAFKA_USERNAME }}
      KAFKA_PASSWORD: ${{ secrets.KAFKA_PASSWORD }}
      PLATFORM: tile
    runs-on: ubuntu-latest
    concurrency: ${{ inputs.cf-host }}
    steps:
      - uses: actions/checkout@v4
        with:
          repository: spring-cloud/spring-cloud-dataflow-acceptance-tests
          ref: main
          show-progress: false
      - name: 'Ensure scripts executable'
        shell: bash
        run: chmod a+x ./scripts/*.sh
      - uses: actions/setup-java@v2
        with:
          java-version: '8'
          cache: maven
          distribution: liberica
      - uses: jvalkeal/setup-maven@v1
        with:
          maven-version: 3.8.2
      - name: Setup Environment ${{ inputs.cf-host }} for ${{ inputs.binder }}
        run: |
          echo "Setup Environment"
          export SETUP_TOOL_REPO="scdf_cf_setup"
          echo "SETUP_TOOL_REPO=$SETUP_TOOL_REPO" >> $GITHUB_ENV
          source ./scripts/at-setup.sh
          echo "SPRING_CLOUD_DATAFLOW_CLIENT_SERVER_URI=$SPRING_CLOUD_DATAFLOW_CLIENT_SERVER_URI" >> $GITHUB_ENV
          echo "STREAM_APPS_URI=$STREAM_APPS_URI" >> $GITHUB_ENV
          echo "SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_ACCESS_TOKEN=$SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_ACCESS_TOKEN" >> $GITHUB_ENV
          echo "SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_TOKEN_URI=$SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_TOKEN_URI" >> $GITHUB_ENV
          echo "SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_CLIENT_ID=$SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_CLIENT_ID" >> $GITHUB_ENV
          echo "SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_CLIENT_SECRET=$SPRING_CLOUD_DATAFLOW_CLIENT_AUTHENTICATION_CLIENT_SECRET" >> $GITHUB_ENV
      - name: Execute Tests
        env:
          TESTS: ${{ inputs.tests }}
        run: |
          echo "Building timestamp-batch-with-drivers-template1"
          pushd acceptance-tests/custom-apps/timestamp-batch-with-drivers-template1 > /dev/null
            ./gradlew build install
          popd > /dev/null
          echo "Starting  Acceptance Tests"
          ./scripts/at-test-script.sh
          echo "Completed Acceptance Tests"
      - name: Integration Test Reports
        uses: dorny/test-reporter@v1
        if: ${{ success() || failure() }}
        with:
          name: "Integration Tests - ${{ inputs.cf-host }}-${{ inputs.binder }}-${{ github.run_number }}-${{ github.run_attempt }}"
          path: '**/failsafe-reports/*AT.xml'
          reporter: java-junit
          list-tests: failed
      - name: Upload Test Output
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: log-files-${{ inputs.cf-host }}-${{ inputs.binder }}-${{ github.run_number }}-${{ github.run_attempt }}
          path: './**/*.log'
          retention-days: 7
          if-no-files-found: ignore
      - name: Upload Unit Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-results-surefire-${{ inputs.cf-host }}-${{ inputs.binder }}-${{ github.run_number }}-${{ github.run_attempt }}
          path: './**/target/surefire-reports/**/*.*'
          retention-days: 7
          if-no-files-found: ignore
      - name: Upload Integration Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-results-failsafe-${{ inputs.cf-host }}-${{ inputs.binder }}-${{ github.run_number }}-${{ github.run_attempt }}
          path: './**/target/failsafe-reports/**/*.*'
          retention-days: 7
          if-no-files-found: ignore
      - name: Upload Test Site
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: test-site-${{ inputs.cf-host }}-${{ inputs.binder }}-${{ github.run_number }}-${{ github.run_attempt }}-failsafe-report.html
          path: './**/target/site/failsafe-report.html'
          retention-days: 7
          if-no-files-found: ignore
